.App {
  text-align: center;
}
.sub-nav {
  background-color: #052942;
}

.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
